.split-pane{-fx-background-color: rgba(0, 0, 0, 0.55)
}
.border-pane{-fx-background-color: #ccc8d7
}
.button{-fx-border-radius: 20%;-fx-border-color: #ffffff; -fx-background-radius: 40% ;
    -fx-border-width: 3 ; -fx-background-color: rgba(7, 6, 6, 0.75); -fx-text-fill: white;}

#contactGrid{-fx-background-color: #ffffff
}
#detailText{-fx-color-label-visible : white;}